img {
    height: 240px;
    width: 240px;
}

body {
        background-color: transparent;
        background-image:url("img/bg-ball.jpg");
        color: white;
        
    }
    
h1 {
        text-align: center;
        
    }